@use "../../styles/partials/mixins" as *;
.testimonial-list {
  background-color: #f4f4f4;
  padding: 80px 0;
  text-align: center;
}
  
.testimonial-list__title {
  color: lightblue;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 60px;
}
  
.testimonial-list__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.testimonial-list__item {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  margin: 24px;
  max-width: 400px;
  overflow: hidden;
  position: relative;
}
  
.testimonial-list__header {
  display: flex;
  align-items: center;
  background-color: lightblue;
  color: #fff;
  padding: 16px;
}
  
.testimonial-list__user-icon {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
  
.testimonial-list__info {
  flex-grow: 1;
}
  
.testimonial-list__name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  text-transform: uppercase;
}
  
.testimonial-list__location {
  font-size: 14px;
}
  
.testimonial-list__testimonial {
  color: #555;
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  margin: 30px 40px;
}
